
.navbar{
    background-color: black;
    width: 100%;
    height: auto;
    min-height: 50px;
    padding: 0;
    margin: 0;
    color: #eee
}
li {
    font-size: 20px;
    margin-top: 3px;
    padding-left: 50px;
    padding-right: 50px;
    list-style: none;
    display: inline-block;
    position: inherit;
   

}
i{
    color: #eee;
    margin: 10px;
   
}
a{
    color: #eee;
    text-decoration: none;
}
.navbar a:hover{
    background-color: #ddd;
  color: black;
}
#search{
    height: 20px;
}

/* footer{
    position:relative;
    bottom: 0;
    left: 0;
    right: 0;
    height:auto;
}
#container22{
    height: 1800px;
    width: 100%;
} */




.grid-product{
    width: 80%;
    height: 500px;
    background-color: black;
    /* float: left; */
    margin-top: 50px;
    /* margin-left: 50px; */
    margin-bottom: 50px;
}

.img-product{
    background-color: #ddd;
    width: 50%;
    height: 60%;
    margin-top: 5px;
    margin-left: 5px;
    

}

#Container {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4,1fr);
}
