
.navbar{
    background-color: black;
    width: 100%;
    height: auto;
    min-height: 50px;
    padding: 0;
    margin: 0;
    color: #eee
}
li {
    font-size: 20px;
    margin-top: 3px;
    padding-left: 50px;
    padding-right: 50px;
    list-style: none;
    display: inline-block;
    position: inherit;
   

}
i{
    color: #eee;
    margin: 10px;
   
}
a{
    color: #eee;
    text-decoration: none;
}
.navbar a:hover{
    background-color: #ddd;
  color: black;
}
#search{
    height: 20px;
}
footer{
    position:relative;
    bottom: 0;
    left: 0;
    right: 0;
    height:auto;
}
#container22{
    height: 1800px;
    width: 100%;
}


